.chartContainer {
  max-width: 600px;
}

#loading::after {
  content: "Loading...";
  animation: loading-text 1s steps(5, end) infinite;
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}